<h1>Aging Work Bar Chart</h1>
<p>
  This chart shows all active (started but not completed) work, ordered from oldest at the top to 
  newest at the bottom.
</p>
<p>
  The colours indicate different statuses, grouped by status category. Any
  statuses in the status category of "To Do" will be in a shade of blue. Any in the category of 
  "In Progress" will be in a shade of yellow and any in "Done" will be in a shade of green.
  Depending on how you calculate cycletime, you may end up with only yellows or you may have a mix
  of all three.
</p>
<p>
  The gray backgrounds indicate weekends and the red vertical line indicates the 85% point for all 
  items in this time period. Anything that started to the left of that is now an outlier.
</p>
<div>
  <canvas id="<%= chart_id %>" width="800" height="200"></canvas>
</div>
<script>
new Chart(document.getElementById('<%= chart_id %>').getContext('2d'),
{
  type: 'bar',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    responsive: true, // If responsive is true then it fills the screen
    indexAxis: 'y', // Make the bars horizontal
    scales: {
      x: {
        type: 'time',
        min: '<%= @date_range.begin.to_s %>',
        max: '<%= (@date_range.end + 1).to_s %>',
        stacked: false,
        title: {
          display: false
        }
      },
      y: {
        stacked: true,
        ticks: {
          display: false
        }
      }
    },
    plugins: {
      annotation: {
        annotations: {
          <% holidays.each_with_index do |range, index| %>
          holiday<%= index %>: {
            drawTime: 'beforeDraw',
            type: 'box',
            xMin: '<%= range.begin %>T00:00:00',
            xMax: '<%= range.end %>T23:59:59',
            backgroundColor: '#F0F0F0',
            borderColor: '#F0F0F0'
          },
          <% end %>

          line: {
            type: 'line',
            xMin: '<%= percentage_line_x %>',
            xMax: '<%= percentage_line_x %>',
            borderColor: 'red',
            borderWidth: 1,
            drawTime: 'afterDraw'
          }
        }
      },
      legend: {
        display: false
      },
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      }
    }
  }
});
</script>

<table style="border: 1px solid gray;">
  <thead>
    <tr>
      <th style="border-bottom: 1px solid gray">Age (days)</th>
      <th style="border-bottom: 1px solid gray">Issue</th>
      <th style="border-bottom: 1px solid gray">Summary</th>
    </tr>
  </thead>
  <tbody>
    <% aging_issues.each do |issue| %>
      <tr>
        <td style="text-align: right;"><%= cycletime.age issue, today: today %></td>
        <td><%= link_to_issue issue %></td>
        <td><i><%= issue.summary.inspect %></i></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% 
  problems = data_quality.problems_for :completed_but_not_started
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were discarded from this data set as we couldn't determine when they started.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :status_changes_after_done
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items had a status change after being identified as done. There is a high liklihood that these items are not showing the correct completion time.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :backwords_through_statuses
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items moved backwards across the board. This may have messed up timings so start time or end time or both, could be wrong. This impacts whether the item is correctly shows as being in progress or not.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :backwards_through_status_categories
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items moved backwards across the board, <b>crossing status categories</b>. This will almost certainly have impacted start and/or end times so items will incorrectly be showing as in progress or not at the wrong times.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :created_in_wrong_status
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were created in the wrong status. This will impact the measurement of start times and will therefore impact whether it's shown as in progress or not.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :status_not_on_board
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> were not visible on the board for some period of time. This may impact timings as the work was likely to have been forgotten if it wasn't visible.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

