<h1>Aging Work Table</h1>
<p>
  This chart shows all active (started but not completed) work, ordered from oldest at the top to 
  newest at the bottom.
</p>
<p>
  If there are expedited items that haven't yet started then they're at the bottom of the table. By the
  very definition of expedited, if we haven't started them already, we'd better get on that.
</p>

<table class='standard'>
  <thead>
    <tr>
      <th>Age (days)</th>
      <th>E</th>
      <th>B</th>
      <th>Issue</th>
      <th>Type</th>
      <th>Status</th>
      <th>Fix versions</th>
      <% if current_board.scrum? %>
          <th>Sprints</th>
        <% end %>      <th>Summary</th>
      <th>Who</th>
    </tr>
  </thead>
  <tbody>
    <% aging_issues.each do |issue| %>
      <tr>
        <td style="text-align: right;"><%= issue.board.cycletime.age(issue, today: @today) || 'Not started' %></td>
        <td><%= expedited_text(issue) %></td>
        <td><%= blocked_text(issue) %></td>
        <td><%= link_to_issue issue %></td>
        <td><%= issue.type %></td>
        <td><%= issue.status.name %><%= unmapped_status_text(issue) unless status_visible? issue.status %></td>
        <td><%= fix_versions_text(issue) %></td>
        <% if current_board.scrum? %>
          <td><%= sprints_text(issue) %></td>
        <% end %>
        <td><i><%= issue.summary.inspect %></i></td>
        <td><%= issue.assigned_to %></td>
      </tr>
    <% end %>
  </tbody>
</table>
