[<a id='<%= link_id %>' href="#" onclick='expand_collapse("<%= link_id %>", "<%= issues_id %>"); return false;'>Show details</a>]
<table class='standard' id='<%= issues_id %>'' style='display: none;'>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Type</th>
      <th>Summary</th>
      <th>Description</th>
      <% unless args.include? :hide_board_column %>
        <th>Board</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% issue_descriptions.each do |issue, description, problem_key| %>
      <tr>
        <td><%= link_to_issue issue %>
          <% if aggregated_project? %>
            <br /><span style="font-size: 0.8em; font-style: italic;"><%= issue.board.name %></span>
          <% end %>
        </td>
        <td><img src="<%= issue.type_icon_url %>" />&nbsp;<%= issue.type %></td>
        <td><i><%= issue.summary.inspect %></i></td>
        <td><%= description %></td>
        <% unless args.include? :hide_board_column %>
          <td><%= issue.board.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
