<h1>Cycletime Scatterplot</h1>
<p>
  This chart shows only completed work and indicates both what day it completed as well as how many days it took to get done. Hovering over a dot will show you the ID of the work item.
</p>
<p>
  The red line indicates the 85th percentile (<%= percent_line %> days). 85% of all items on this chart fall on or below the line and the remaining 15% are above the line. 85% is a reasonable proxy for "most" so that we can say that based on this data set, we can predict that most work of this type will complete in <%= percent_line %> days or less.
</p>
<div>
  <canvas id="<%= chart_id %>" width="800" height="200"></canvas>
</div>
<script>
new Chart(document.getElementById('<%= chart_id %>').getContext('2d'), {
  type: 'scatter',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    title: {
      display: true,
      text: "Cycletime Scatterplot"
    },
    responsive: true, // If responsive is true then it fills the screen
    scales: {
      x: {
        type: "time",
        scaleLabel: {
          display: true,
          labelString: 'Date Completed'
        }
      },
      y: {
        scaleLabel: {
          display: true,
          labelString: 'Days'
        }
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      },
      autocolors: false,
      annotation: {
        annotations: {
          line1: {
            type: 'line',
            yMin: <%= percent_line %>,
            yMax: <%= percent_line %>,
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 1
          }
        }
      }
    }
  }
});
</script>
<% 
  problems = data_quality.problems_for :completed_but_not_started
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were discarded from this data set. Although they did complete in the time period shown here, we were unable to determine when they started and therefore couldn't calculate cycle time. Most likely, these items moved directly from Created to Done.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :status_changes_after_done
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items had a status change after being identified as done. There is a high liklihood that these items are not showing the correct completion time.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :backwords_through_statuses
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items moved backwards across the board. This may have messed up timings so start time or end time or both, could be wrong.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :backwards_through_status_categories
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items moved backwards across the board, <b>crossing status categories</b>. This will almost certainly have impacted timings as the start or end times are often taken at status category boundaries. You should assume that any cycletime measurements for this item are wrong.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :created_in_wrong_status
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were created in the wrong status. This will impact the measurement of start times and will therefore impact any cycletime calculations. It's possible that these items were part of a migration from a different system.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality.problems_for :status_not_on_board
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> were not visible on the board for some period of time. This may impact timings as the work was likely to have been forgotten if it wasn't visible.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>


