<% 
  problems = data_quality_problems_for :completed_but_not_started
  unless problems.empty?
    percentage_work_included = ((issues.size - problems.size).to_f / issues.size * 100).to_i
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were discarded from this data set as we couldn't determine when they started. 
    <% if percentage_work_included < 85 %>
      Consider whether looking at only <%= percentage_work_included %>% of the total data points is enough to come to any reasonable conclusions. See <a href="https://en.wikipedia.org/wiki/Survivorship_bias">Survivorship Bias</a>.
    <% end %>
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality_problems_for :status_changes_after_done
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items had a status change after being identified as done. Were they really done at that point?
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality_problems_for :backwords_through_statuses
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items moved backwards across the board. This may have messed up timings so end time could be wrong.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality_problems_for :backwards_through_status_categories
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items moved backwards across the board, <b>crossing status categories</b>. This will almost certainly have impacted timings as the end times are often taken at status category boundaries. You should assume that any measurements for this item are wrong.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality_problems_for :status_not_on_board
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> were not visible on the board for some period of time. This may impact timings as the work was likely to have been forgotten if it wasn't visible.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality_problems_for :created_in_wrong_status
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were created in the wrong status. This will impact the measurement of start times and will therefore impact whether it's shown as in progress or not.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = data_quality_problems_for :stopped_before_started
  unless problems.empty? 
%>
  <p>
    <b>Data quality note:</b> <%= problems.size %> items were stopped before they were started and this will play havoc with any cycletime or WIP calculations.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

