<% 
  problems = problems_for :discarded_changes
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> have had information discarded. This configuration is set
    to "reset the clock" if an item is moved back to the backlog after it's been started. This hides important
    information and makes the data less accurate. <b>Moving items back to the backlog is strongly discouraged.</b>
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :completed_but_not_started
  unless problems.empty?
    percentage_work_included = ((issues.size - problems.size).to_f / issues.size * 100).to_i
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> were discarded from all charts using cycletime (scatterplot, histogram, etc) as we couldn't determine when they started. 
    <% if percentage_work_included < 85 %>
      Consider whether looking at only <%= percentage_work_included %>% of the total data points is enough to come to any reasonable conclusions. See <a href="https://en.wikipedia.org/wiki/Survivorship_bias">Survivorship Bias</a>.
    <% end %>
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :status_changes_after_done
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> had a status change after being identified as done. We should question whether they were really done at that point or if we stopped the clock too early.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :backwards_through_status_categories
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> moved backwards across the board, <b>crossing status categories</b>. This will almost certainly have impacted timings as the end times are often taken at status category boundaries. You should assume that any timing measurements for this item are wrong.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :backwords_through_statuses
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> moved backwards across the board. Depending where we have set the start and end points, this may give us incorrect timing data. Note that these items did not cross a status category and may not have affected metrics.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :status_not_on_board
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> were not visible on the board for some period of time. This may impact timings as the work was likely to have been forgotten if it wasn't visible.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :created_in_wrong_status
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> were created in a status not designated as Backlog. This will impact the measurement of start times and will therefore impact whether it's shown as in progress or not. The backlog statuses are: 
    <%= @possible_statuses.expand_statuses(current_board.backlog_statuses).collect {|s| s.name.inspect}.join(', ') %>.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :stopped_before_started
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> were stopped before they were started and this will play havoc with any cycletime or WIP calculations. The most common case for this is when an item gets closed and then moved back into an in-progress status.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :issue_not_started_but_subtasks_have
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> <%= label_issues problems.size %> still showing 'not started' while sub-tasks underneath them have started. This is almost always a mistake; if we're working on subtasks, the top level
    item should also have started.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>

<% 
  problems = problems_for :issue_on_multiple_boards
  unless problems.empty? 
%>
  <p>
    <span class="quality_note_bullet">⮕</span> For <%= label_issues problems.size %>, we have an issue that shows up on more than one board. This could result in more data points showing up on a chart then there really should be.
    <%= collapsible_issues_panel problems %>
  </p>
<% 
  end
%>
