<h1>Expedited Report</h1>
<p>
  This chart only shows issues that have been expedited at some point. We care about these as any form of expedited work will affect the entire system and will slow down non-expedited work. Refer to this article on <a href="https://improvingflow.com/2021/06/16/classes-of-service.html">classes of service</a> for a longer explanation on why we want to avoid expedited work.
</p>
<p>
  The lines indicate time that this issue was expedited. When the line is red then the issue was expedited at that time. When it's gray then it wasn't. Orange dots indicate the date the work was started and green dots represent the completion date. Lastly, the vertical height of the lines/dots indicates how long it's been since this issue was created.
</p>
<div>
  <canvas id="<%= chart_id %>" width="800" height="200"></canvas>
</div>
<script>
const expedited = (ctx, value) => ctx.p0.raw.expedited == 1 ? value : undefined;
const notExpedited = (ctx, value) => ctx.p0.raw.expedited == 0 ? value : undefined;

new Chart(document.getElementById('<%= chart_id %>').getContext('2d'), {
  type: 'scatter',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    title: {
      display: true,
      text: "Cycletime Scatterplot"
    },
    responsive: true, // If responsive is true then it fills the screen
    scales: {
      x: {
        type: "time",
        scaleLabel: {
          display: true,
          labelString: 'Date Completed'
        },
        min: "<%= date_range.begin.to_s %>",
        max: "<%= date_range.end.to_s %>"
      },
      y: {
        scaleLabel: {
          display: true,
          labelString: 'Days'
        },
        min: 0
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      },
      autocolors: false
    }
  }
});
</script>