<div class="chart">
  <canvas id="<%= chart_id %>" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
</div>
<script>
new Chart(document.getElementById(<%= chart_id.inspect %>).getContext('2d'),
{
  type: 'bar',
  data: {
    labels: [<%= @board_columns.collect { |c| c.name.inspect }.join(',') %>],
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    title: {
      display: true,
      text:    "Aging work in progress"
    },
    responsive: <%= canvas_responsive? %>, // If responsive is true then it fills the screen
    scales: {
      x: {
        scaleLabel: {
          display: true,
          labelString: 'Date Completed'
        },
        grid: {
          color: <%= CssVariable['--grid-line-color'].to_json %>,
          z: 1 // draw the grid lines on top of the bars
        },
        stacked: true
      },
      y: {
        scaleLabel: {
          display: true,
          labelString: 'Days'
        },
        title: {
          display: true,
          text: 'Age in days'
        },
        grid: {
          color: <%= CssVariable['--grid-line-color'].to_json %>,
          z: 1 // draw the grid lines on top of the bars
        },
        stacked: true
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            if( typeof(context.dataset.data[context.dataIndex]) == "number" ) {
              return "85% of the issues, leave this column in "+context.dataset.data[context.dataIndex]+" days";
            }
            else {
              return context.dataset.data[context.dataIndex].title
            }
          }
        }
      }
    }
  }
});
</script>
