<div class="chart">
  <canvas id="<%= chart_id %>" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
</div>
<p><b>STATS</b></p>
<div>
   <table class="standard">
    <tr>
      <th>Issue Type</th>
      <th>Avg</th>
      <th>Mode</th>
      <th>50th</th>
      <th>85th</th>
      <th>95th</th>
    </tr>
    <% the_stats.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= sprintf('%.2f', v[:average]) %></td>
          <td><%= v[:mode] %></td>
          <td><%= v[:percentiles][50] %></td>
          <td><%= v[:percentiles][85] %></td>
          <td><%= v[:percentiles][95] %></td>
        </tr>
     <% end %>
   </table>
</div>
<script>
new Chart(document.getElementById('<%= chart_id %>').getContext('2d'),
{
  type: 'bar',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    responsive: <%= canvas_responsive? %>, // If responsive is true then it fills the screen
    scales: {
      x: {
        type: 'linear',
        stacked: true,
        title: {
          display: true,
          text: 'Cycletime in days'
        },
        grid: {
          color: <%= CssVariable['--grid-line-color'].to_json %>
        },
      },
      y: {
        stacked: true,
        title: {
          display: true,
          text: 'Number of items that had that cycletime'
        },
        grid: {
          color: <%= CssVariable['--grid-line-color'].to_json %>
        },
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      }
    }
  }
});
</script>
